@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Разработчик - </p>
<div>
    <a href="https://github.com/sei4okei">Github</a>
    <a href="https://vk.com/ksdifghisdf">VK</a>
    <a href="https://t.me/sei4okei">Telegram</a>
    <p>E-mail - sei.4okei@yandex.ru</p>
    <p>Phone - 8 910 805 60 22</p>
</div>
