@model IEnumerable<DataAccess.Models.PriceList>

<!DOCTYPE html>
<html>
<head>
    <title>Прайсы</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Прайсы</h1>
        <a href="#" class="btn btn-primary mb-3">Прайс-лист</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><a asp-controller="PriceLists" asp-action="PriceList" asp-route-id="@item.Id">@item.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>